/**********Common css*********/
body{
    background-color: #FFFFFF;
    color: #111111;
    font-weight: 400;
    /*font-family: 'Rubik', sans-serif;font-size: 13px;*/
    font-family: 'Oswald', sans-serif !important;
}
